# Ignore node_modules folder
node_modules/
build/
dist/
nginx/

# Ignore log files
*.log
package-lock.json

# Ignore environment variables
.env

# Ignore compiled files
*.class
*.o
*.exe

# Ignore VS Code settings (optional)
.vscode/
.github/
